.nav__list {
    list-style: none;
    padding: 10px;
}

.nav {
    grid-area: n;
    background-color: burlywood;
}

.item {
    text-decoration: none;
    color: #fff;
}

.active {
    text-decoration: none;
    color: gold
}

.item__element {
    margin-bottom: 5px;
}